#sidebar .sidebar-profile p {
  margin-bottom: 10px;
  font-weight: bold;
}

#profile .avatar:hover + #edit-message {
  display: block;
}

.article .article-votes button,
.comment-votes button {
  width: auto;
  line-height: 25px;
  border: 1px solid black;
  border-radius: 100px;
  background-color: black;
  color: white;
  font-weight: bold;
  margin: 10px;
}

.article .article-votes button:hover,
.article .article-votes .voted,
.comment-votes button:hover,
.comment-votes .voted {
  background-color: white;
  color: black;
}

#new-comment #comment-avatar {
  display: inline-block;
  border-radius: 50%;
}

#new-comment input {
  display: inline-block;
  width: 90%;
  height: 100px;
  padding: 12px 20px;
  margin: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#new-comment button {
  float: right;
  margin: 5px 3%;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
  line-height: 25px;
}

#new-comment button:active {
  background-color: black;
  color: white;
}
