body {
  font-family: "Times New Roman", Times, serif;
  margin: 0 8% 0 8%;
}

header {
  border-bottom: 1px double black;
  padding-bottom: 5px;
}

header h1,
header p {
  text-align: center;
  margin: 0px;
}

header h1 {
  font-size: 3rem;
}

header p {
  font-style: italic;
  letter-spacing: 0.5px;
}

header time {
  font-weight: bold;
}

ul {
  padding: 0px;
  list-style: none;
}

#sidebar ul {
  margin-top: 5px;
}

#sidebar h3 {
  margin: 10px 0 0 0;
  padding-bottom: 0px;
}

#sidebar #search-bar {
  margin-top: 10px;
}

#sidebar p {
  margin: 0 0 5px 0;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: underline;
  color: steelblue;
}

.article,
#articles {
  width: 100%;
}

#articles h2 {
  margin: 20px 0 5px 0;
}

#articles #topic-description {
  font-style: italic;
  font-weight: lighter;
  margin: 0 0 5px 0;
}

#articles-list li {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}

#filter {
  margin: 10px 0 10px 0;
}

#filter form {
  display: inline-block;
  margin-right: 10px;
}

.comments-section {
  border-top: 1px solid black;
}

#sidebar .avatar,
#profile .avatar {
  border-radius: 50%;
}

#sidebar .sidebar-profile p {
  margin: 10px 0 10px 0;
  font-weight: bold;
  top: 125px;
  font-size: 1.2rem;
}

#profile #edit-message {
  display: none;
}

#profile .avatar:hover {
  opacity: 0.5;
}

#profile .avatar:hover + #edit-message,
#profile .avatar:active + #edit-message {
  display: block;
  position: absolute;
  top: 175px;
  left: 60px;
}

#edit-message {
  font-weight: bold;
  font-size: 1.8rem;
}

.article .article-votes button,
.comment-votes button {
  width: auto;
  line-height: 25px;
  border: 1px solid black;
  border-radius: 100px;
  background-color: black;
  color: white;
  font-weight: bold;
  margin: 5px;
}

.article .article-votes .voted,
.comment-votes .voted {
  background-color: white;
  color: black;
}

#new-comment #comment-avatar {
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
}

#new-comment input,
#edited-comment {
  display: inline-block;
  width: 90%;
  height: 100px;
  padding: 12px 20px;
  margin: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#new-comment button,
#edit-comment,
#delete-comment,
#update-comment,
#cancel-comment {
  float: right;
  margin: 5px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
  line-height: 25px;
  font-weight: bold;
}

#new-comment button {
  margin: 0 3%;
}

#new-comment button:active,
#edit-comment:active,
#edit-comment:disabled,
#delete-comment:active,
#update-comment:active,
#cancel-comment:active {
  background-color: black;
  color: white;
}

#comment {
  margin-top: 50px;
}

#edit-article {
  position: absolute;
  top: 335px;
  right: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: black;
  color: white;
  line-height: 25px;
  font-weight: bold;
}

#edited-article {
  display: inline-block;
  width: 94%;
  height: 200px;
  padding: 12px 20px;
  margin: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#update-article,
#cancel-edit {
  float: right;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: black;
  color: white;
  line-height: 25px;
  font-weight: bold;
}

#update-article {
  margin-right: 3%;
}

#cancel-edit {
  margin-right: 10px;
}

#update-article:active,
#cancel-edit:active,
#edit-article:active,
#edit-article:disabled,
#change-avatar:active,
#cancel-change:active {
  background-color: white;
  color: black;
}

#login,
#register {
  text-align: center;
}

#login {
  margin-top: 200px;
}

#register {
  margin-top: 150px;
}

#login h1,
#register h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

#login button,
#register button {
  width: 35%;
  display: block;
  margin: auto;
  margin-top: 20px;
  border: 1px solid black;
  background-color: black;
  color: white;
  line-height: 25px;
  font-weight: bold;
  font-size: 1rem;
}

#login button:active,
#register button:active,
#search-bar button:active {
  background-color: white;
  border: transparent;
  color: black;
}

#login .register-link,
#register .login-link {
  margin-top: 20px;
}

#register label {
  display: inline-block;
  width: 120px;
  margin-bottom: 10px;
}

#profile img {
  margin: 20px 0 0 10px;
  width: 100px;
  height: 100px;
}

#profile #name,
#profile #username,
#profile #sign-out {
  display: inline-block;
  position: absolute;
  left: 170px;
}

#profile #name {
  top: 140px;
}

#profile #username {
  top: 170px;
}

#profile #sign-out {
  top: 210px;
}

.user-article {
  margin-bottom: 40px;
  border-bottom: 1px solid black;
}

#new-avatar {
  display: inline-block;
  width: 40%;
  padding: 10px 10px;
  margin: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#change-avatar,
#cancel-change {
  line-height: 25px;
  margin: 5px 0 0 5px;
  border: transparent;
  border-radius: 100px;
  background-color: black;
  color: white;
  font-weight: bold;
}

#back {
  margin-top: 10px;
}

.login-exit,
.register-exit {
  position: absolute;
  left: 33px;
  top: 95px;
}

#search-bar input {
  display: inline-block;
  line-height: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#search-bar button {
  margin: 5px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: black;
  color: white;
  line-height: 25px;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  #sidebar h3 {
    display: none;
  }

  #sidebar li {
    display: inline-block;
    margin: 0 8% 0 8%;
  }

  #sidebar .sidebar-profile p,
  #sidebar #sign-out {
    position: absolute;
    left: 140px;
  }

  #sidebar .sidebar-profile #sign-out {
    top: 160px;
  }

  #sidebar .sidebar-profile img {
    width: 80px;
    margin: 20px 0 10px 0;
  }

  #sidebar #user-options {
    margin: 20px 0 0 25px;
  }

  #user-options p {
    display: inline-block;
    margin: 0 14% 0 14%;
  }

  #scroll-to-top {
    display: none;
  }

  #search-bar {
    margin-left: 15%;
  }
}

@media only screen and (min-width: 500px) {
  body {
    margin: 0 15px 0 15px;
  }

  #sidebar {
    position: fixed;
    width: 100px;
    top: 150px;
    right: 5px;
  }

  #sidebar a {
    font-weight: lighter;
  }

  #sidebar li {
    padding-bottom: 4px;
  }

  .article {
    width: 75%;
  }

  #articles-list li {
    width: 120%;
  }

  #scroll-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 1.2rem;
    margin: 0 100px 0 100px;
  }

  header {
    border-bottom: 5px double black;
    padding-bottom: 10px;
    font-size: 1.2rem;
  }

  header h1 {
    font-size: 4rem;
  }

  header p {
    letter-spacing: 1.5px;
  }

  #sidebar {
    width: 175px;
    top: 200px;
    right: 150px;
  }

  a:hover {
    text-decoration: underline;
    color: steelblue;
  }

  .article {
    width: 85%;
  }

  #articles-list li {
    width: 80%;
  }

  #articles h2 {
    margin: 20px 0 10px 0;
  }

  #articles h3 {
    padding-bottom: 10px;
  }

  #sidebar .sidebar-profile p {
    margin: 10px 0 10px 0;
    font-weight: bold;
  }

  #profile .avatar:hover + #edit-message,
  #profile .avatar:active + #edit-message {
    top: 340px;
    left: 230px;
  }

  #edit-message {
    font-size: 3rem;
  }

  .article .article-votes button,
  .comment-votes button {
    margin: 10px;
  }

  .article .article-votes button:hover,
  .comment-votes button:hover {
    background-color: white;
    color: black;
  }

  #edit-article {
    top: 240px;
    right: 400px;
  }

  #login h1,
  #register h1 {
    font-size: 3rem;
  }

  #login button,
  #register button {
    width: 10%;
    line-height: 30px;
    font-size: 1.2rem;
  }

  #login button:hover,
  #register button:hover {
    background-color: white;
    border: transparent;
    color: black;
  }

  #login button:active,
  #register button:active {
    color: cornflowerblue;
  }

  #register label {
    width: 150px;
  }

  #profile img {
    margin: 50px 0 0 40px;
    width: 300px;
    height: 300px;
  }

  #profile #name,
  #profile #username,
  #profile #sign-out {
    display: inline-block;
    position: absolute;
    left: 540px;
  }

  #profile #name {
    top: 295px;
  }

  #profile #username {
    top: 340px;
  }

  #profile #sign-out {
    top: 400px;
  }

  #new-avatar {
    width: 25%;
  }

  .login-exit,
  .register-exit {
    position: absolute;
    left: 100px;
    top: 133px;
  }

  #sidebar #search-bar {
    margin-top: 20px;
  }

  #sidebar #search-bar input {
    width: 95px;
  }

  #sidebar #search-bar button {
    display: inline-block;
  }
}
